@media screen and (max-width: 542px) {
  main {
    padding: 20px;
  }
  h1 {
    width: auto;
  }
  .content .content-box {
    display: none;
  }
  .content .step {
    max-width: fit-content;
  }
  .content .step .step-block-item {
    width: 42px;
  }
  .button-box {
    gap: 0;
    justify-content: space-around;
  }
}